/* Fonts Imported */
@font-face {
  font-family: 'NunitoRegular';
  src: url('../fonts/nunito-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoMedium_Italic';
  src: url('../fonts/nunito-mediumitalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoBold';
  src: url('../fonts/nunito-bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoBold_Italic';
  src: url('../fonts/nunito-bolditalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  border: none;
}
  
  /* Root and Custom Properties */ 
:root {
  /* fonts */
  --font-body: 'NunitoRegular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  --font-body-bold: 'NunitoMedium_Italic', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  --font-body-bold: 'NunitoBold', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  --font-body-bold-italic: 'NunitoBold_Italic', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

  /* colors */
  --dark-pink: #d14b71;
  --light-pink: #e07795;
  --beige: #caba9c;
  --lime-green: #a3b18a;
  --light-green: #588157;
  --dark-green: #3a5a40;
  --darkest-green: #102820;
}
  
/* Navigation */
.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.hero-text {
  flex: 1;
}
  
.logo img {
  width: 200px;
}

/* help */
.help {
  text-align: right;
  padding: 10px;
}
  
.help button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--light-pink);
  font-family: var(--font-body-bold);
  font-size: 16px;
  color: white;
}
  
.help button:hover {
  cursor: pointer;
  background-color: var(--dark-pink);
  font-family: var(--font-body-bold);
  color: white;
}
  .help {
  text-align: right;
  padding: 10px;
}
  
.help button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--light-pink);
  font-family: var(--font-body-bold);
  font-size: 16px;
  color: white;
}
  
.help button:hover {
  cursor: pointer;
  background-color: var(--dark-pink);
  font-family: var(--font-body-bold);
  color: white;
}
  
.help-content {
  margin: 0px 40px;
}
  
.help-content li {
  font-family: var(--font-body);
}
  
.help-content h3 {
  font-family: var(--font-body);
  margin-top: 20px;
}
  
.help-content h2 {
  font-family: var(--font-body);
  letter-spacing: 6px;
  padding-bottom: 10px;
}
  
.help-content li {
  margin: 20px 40px;
}
  
.statement {
  font-family: var(--font-body-bold);
  color: var(--dark-green);
  text-align: center;
  padding: 20px;
  font-size: 24px;
}
 
/* Body Styles */
body {
  font-family: var(--font-body);
  background-color: #f4f4f4;
  padding: 20px;
  background-color: white;
}

/* text */
h2 {
  margin-bottom: 20px;
}
h1, h2{
  text-align: center;
  color: var(--darkest-green);
}

p {
  color: var(--darkest-green);
  font-size: 16px;
  margin-bottom: 10px;
}

/* Ingredient Image */

.ingredients img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 15px;
  border: 15px solid var(--dark-pink);
  border-radius: 10px;
}

.ingredients-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

/* Recipe Image */
.steps-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 15px;
  border: 15px solid var(--dark-pink);
  border-radius: 10px;
}

.recipe-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Recipe Info */
.recipe-info-container {
  display: flex;
  justify-content: center;
}

.recipe-info {
  display: inline-block;
  font-size: 20px;
}
.recipe-icon {
  width: 20px;
}

.ingredients-container ul {
  margin: 0 auto;
}

  
